
    <div class="ui padded centered grid">

        <div class="column">

            {{ form_open('', 'method="post" class="ui form" id="login_form"') }}

                <div class="ui segment">

                    <h2 class="ui blue image header">
                        <img src="{{ default_base_url('apple-touch-icon-precomposed.png') }}" class="image" />
                        <div class="content">
                            Login
                        </div>
                    </h2>

                    <div class="field">
                        {{ widget('feedback_messages_widget', {
                            'feedback_message_target': feedback_message_target,
                            'normal_message': normal_message,
                            'confirmation_message': confirmation_message,
                            'warning_message': warning_message,
                            'error_message': error_message,
                            'with_javascript': false
                        }) }}
                    </div>

                    <div class="field{% if validation_errors['username'] %} error{% endif %}">
                        <div class="ui big left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" id="username" value="{{ set_value('username') }}"  placeholder="* {{ lang('ui_username')|e('html_attr') }}">
                        </div>
                    </div>

                    <div class="field{% if validation_errors['password'] %} error{% endif %}">
                        <div class="ui big left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" id="password" value="{{ set_value('password') }}" placeholder="* {{ lang('ui_password')|e('html_attr') }}">
                        </div>
                    </div>

                    <div class="field">
                        <img id="captcha_image"
                            class="ui middle aligned image pointer"
                            src="{{ captcha().src ~ '?nocache=' ~ rand(100000000, 999999999) }}"
                            title="{{ lang('captcha.tip')|e('html_attr') }}"
                        />
                        <button type="button" id="captcha_refresh" class="ui icon button" title="{{ lang('ui_refresh')|e('html_attr') }}"><i class="refresh icon"></i></button>
                    </div>

                    <div class="field{% if validation_errors['captcha'] %} error{% endif %}">
                        <div class="ui big left icon input">
                            <input type="text" id="captcha" name="captcha" placeholder="* {{ lang('captcha.label')|e('html_attr') }}" maxlength="{{ captcha().length }}" autocomplete="off" autocorrect="off" autocapitalize="off" />
                            <i class="privacy icon"></i>
                        </div>
                    </div>

                    <button class="ui fluid big primary button" type="submit"><i class="sign in icon"> {{ lang('ui_login') }}</i></button>

                </div>

            {{ form_close() }}

            

        </div>

    </div>

