
{% if theme_switcher is not empty %}

    {% set item_active = [] %}

    {% for item in theme_switcher %}
        {% if item['active'] is not empty %}{% set item_active = item %}{% endif %}
    {% endfor %}

                    
{% endif %}
