{{js('Chart.bundle.min.js')}}
{# {{js('d3.min.js')}}
{{js('tauCharts.min.js')}}
{{css('tauCharts.min.css')}} #}
           <script type="text/javascript">
            //<![CDATA[

            (function($) {

                $('#date_picker_test').datepicker({
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true
                });

                $('#test_4').on('click', function() {

                    swal("Good job!", "You clicked the button!", "success");
                });
                $('#select')
                  .dropdown()
                ;
                $('.menu .item')
                  .tab()
                ;

                $('.submitAccuracy').on('click', function(e) {
                    e.preventDefault();
                  submitForm();
                });

                function submitForm() {
                    $('#aContainer').hide();
                  var formData = $('.coreForm').serializeArray(); //or .serialize();
                  $.ajax({
                    type: 'POST',
                    url: '/home/accuracy',
                    data: formData
                  })
                  .done(function(data,status) {
                    $('div#accuracy').html(data);
                    $('#aContainer').show();
                    // console.log("data", data);
                    //   console.log("success");
                  })
                  .fail(function() {
                    alert('Something went wrong');
                  });
                  
                }

                $("input:text").click(function() {
                  $(this).parent().find("input:file").click();
                });

                $('input:file', '.ui.action.input')
                  .on('change', function(e) {
                    var name = e.target.files[0].name;
                    $('input:text', $(e.target).parent()).val(name);
                  });



            })(jQuery);

            //]]>
            </script>

            

<style>
  .ui.action.input input[type="file"] {
  display: none;
}
</style>