{% if trained is not null and trained is not empty %}
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Result</a>
  <a class="item" data-tab="second">Accuracy</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
    
        <div class="ui visible message"><p>Will they pass the exam??  </p>
        {% for key,u in trained %}
            <p> {{ value }} {{key}} - {{ u }}</p>
        {% endfor %}
        
    </div>
    
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  {% if trained is not null and trained is not empty %}
<div class="uis visibles messages">
    {{form_open('home/accuracy', 'class="coreForm"')}}
<div class="ui grid">
    <div class="eight wide column">
        <div class="ui form">
            
            {% for key,u in trained %}
            <div class="inline four fields">
                <div class="field"></div>
                <div class="field">
                    <label>{{ value }} {{key}}  &nbsp;- </label>
                    <label> {{ u }}</label>
                    <input name="predicted[]" type="hidden" value="{{ u|lower}}">
                </div>
                
                <div class="field">
                    <select name="result[]" class="ui dropdown" id="select">
                        <option value="">Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="field"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui form">
            <div class="inline two fields">
                <div class="field">
                    <button type="submit" class="ui primary button submitAccuracy">
                    Calculate Accuracy
                    </button>
                </div>
                <div class="field">
                    <div class="ui positive message" id="aContainer" style="display:none;">
                        <div class="header" id="accuracy">
                            0%
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{{form_close()}}
</div>
{% endif %}
</div>
{% endif %}


<div class="ui hidden divider"></div>
{# {% if trained is not null and trained is not empty %}
    <div class="ui visible message"><p>Will he pass the exam??  </p>
    {% for key,u in trained %}
        <p> {{ value }} {{key}} - {{ u }}</p>
    {% endfor %}
    
</div>
{% endif %} #}


<div class="ui top attached tabular menu">
  <a class="item active" data-tab="firsta">Add Data</a>
  <a class="item" data-tab="seconda">Predict</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="firsta">
    
        
    



<div class="ui segment">
<p>
    {{form_open_multipart('','class="ui form"')}}
    <input type="text" value="01" name="testo" class="hidden" style="display:none;">
    <div class="field">
        <label>Select Class</label>
        {{form_dropdown('semester',class,'0','class="ui dropdown" id="select"')}}
        {# <select name="semester" class="ui dropdown" id="select">
            <option value="">Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select> #}
    </div>
    <div class="field">
        <label>Train Data File</label>
        <div class="ui action input">
          <input type="text" placeholder="Select File" readonly>
          <input type="file" name="file">
          <div class="ui icon button">
            <i class="attach icon"></i>
          </div>
        </div>
    </div>
    <div class="field">
        <label>Test Data File</label>
        <div class="ui action input">
          <input type="text" placeholder="Select File" readonly>
          <input type="file" name="file2">
          <div class="ui icon button">
            <i class="attach icon"></i>
          </div>
        </div>
    </div>
    {# <div class="field">
        <label for="date_picker_test">
            Train Data
        </label>
        <div class="ui left icon input">
            <textarea name="data" id="" cols="30" rows="10">{{set_value('data')}}</textarea>
        </div>
    </div> #}
    {# <div class="field">
        <label for="date_picker_test">
            Test Dataset
        </label>
        <p>Test Dataset should be in following format in CSV:-</p>
        <b><p>FULL_NAME,
            
        </p></b>
        <div class="ui left icon input">
            <textarea name="test" id="" cols="30" rows="10">{{set_value('test')}}</textarea>
        </div>
    </div> #}
    <div class="field">
        <p>
            <button class="ui button" id="submit">Submit Data</button>
        </p>
    </div>
{{form_close()}}
</p>
</div>

</div>

<div class="ui bottom attached tab segment" data-tab="seconda">

    <div class="ui segment">
<p>
    <input type="text" value="01" name="testo" class="hidden" style="display:none;">
    <div class="field">
        <label>Select Class</label>
        {{form_dropdown('semester',class,'0','class="ui dropdown" id="select" onchange="this.options[this.selectedIndex].value && (window.location = SITE_URL+/home/+/predict/+this.options[this.selectedIndex].value);"')}}
    </div>
</p>
</div>

</div>