{# <div class="ui top attached tabular menu">
  <a class="item" data-tab="first">Result</a>
</div>
<div class="ui bottom attached tab segment" data-tab="first">
    <div class="ui visible message">Select Column for Result:-<br>
        {% for item in columns %}
        |<label class="span badge"><input  value="oip" type="checkbox" name="columns"> {{item}} </label>|
        {% endfor %}
    </div>
</div> #}
{% set accuracy_percentage = accuracy.default|round(4, 'floor') * 100 ~ '%' %}
{# {% set accuracy_percentage = accuracy.average.precision * 100 ~ '%' %} #}
<div class="ui grid centered">
  <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <div class="center aligned header">{{accuracy_percentage}}</div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
             Accuracy
          </div>
        </div>
      </div>
  </div>
  <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <div class="center aligned header">{{accuracy.average.precision}}</div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
             Precision
          </div>
        </div>
      </div>
  </div>
  <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <div class="center aligned header">{{accuracy.average.recall}}</div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
             Recall
          </div>
        </div>
      </div>
  </div>
  <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <div class="center aligned header">{{accuracy.average.f1score}}</div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
             F1Score
          </div>
        </div>
      </div>
  </div>
</div>   
<div class="ui grid centered">
  
  <div class="ten wide column " style="height:300px;overflow-y:scroll;">
    <div class="ui middle aligned divided list">
        {% for key,f in students %}
      <div class="item">
        <div class="right floated content">
          <div data-sid="{{f.student_id}}" class="ui button {% if f.result =='YES' %}positive{% endif %}">{{f.result}}</div>
        </div>
        <div class="content">
            {{f.full_name}}
        </div>
      </div>
      {% endfor %}
    </div>
      {# <div id="container" style="width: 100%;">
            <canvas id="canvases"></canvas>
        </div> #}
  </div>
  <div class="six wide column">
        <div id="canvas-holder" style="width:120%">
            <canvas id="chart-area"></canvas>
        </div>
  </div>
  <div class="sixteen wide column ">
      <div id="container" style="width: 100%;">
            <canvas id="canvasLine"></canvas>
        </div>
  </div>

  <div class="eight wide column centered row" style="background-color:white;">
   
    <div class="ui middle aligned divided list">
        {% for key,f in predict.final %}
      <div class="item">
        <div class="right floated content">
          <div class="ui button {% if f =='YES' %}positive{% endif %}">{{f}}</div>
        </div>
        
        <div class="content">
            {{key}}
        </div>
      </div>
      {% endfor %}
    </div>


  </div>
        
  
</div>
{{js('Chart.bundle.min.js')}}

<script>
var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var randomScalingFactor = function() {
      return Math.round(Math.random() * 100);
    };

    var config1 = {
      type: 'line',
      data: {
        labels: {{ hline.labels|json_encode()|raw }},
        datasets: [{
          label: 'Pass',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data2: ['72','27'],
          data: {{ hline.pass|json_encode()|raw }},
          fill: false,
        }, {
          label: 'Fail',
          fill: false,
          backgroundColor: 'rgb(54, 162, 235)',
          borderColor: 'rgb(54, 162, 235)',
          data: {{ hline.fail|json_encode()|raw }},
          data2: ['50','90'],
        }]
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: 'History Line Chart'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Semester'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'No of Pass/Fail'
            },
            ticks: {
              min: 0,
              max: 100,

              // forces step size to be 5 units
              stepSize: 5
            }
          }]
        }
      }
    };

    // window.onload = function() {
    //   var ctx = document.getElementById('canvasLine').getContext('2d');
    //   window.myLine = new Chart(ctx, config1);
    // };
        //     var randomScalingFactor = function() {
        //     return Math.round(Math.random() * 100);
        // };
            var config = {
                  type: 'pie',
                  data: {
                    datasets: [{
                      data: [
                        {{accuracy.pass}},
                        {{accuracy.fail}},
                      ],
                      backgroundColor: [
                        'rgb(54, 162, 235)',
                        'rgb(255, 99, 132)',
                      ],
                      label: ' '
                    }],
                    labels: [
                      'Pass',
                      'Fail'
                    ]
                  },
                  options: {
                    responsive: true
                  }
                }
              window.onload = function() {
                    var ctx = document.getElementById('chart-area').getContext('2d');
                    window.myPie = new Chart(ctx, config);
                    var ctx2 = document.getElementById('canvasLine').getContext('2d');
                    window.myLine = new Chart(ctx2, config1);
                  };




            var barChartData = {
                        labels: ['Physics', 'C-Programming', 'Math', 'E.Drawing', 'Applied M.', 'B.Electrical'],
                        datasets: [{
                            label: ' ',
                            backgroundColor: 'rgb(255,177,193)',
                            borderColor: 'red',
                            borderWidth: 1,
                            data: [
                                '35',
                                '38',
                                '45',
                                '55',
                                '40',
                                '50'
                            ]
                        }
                        ]

                    };

                    //window.onload = function() {
                        var ctx = document.getElementById('canvases').getContext('2d');
                        window.myBar = new Chart(ctx, {
                            type: 'bar',
                            data: barChartData,
                            options: {
                                responsive: true,
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Avg Result per Subject'
                                }
                            }
                        });

                   // };

            </script>