<div class="ui grid">
    <div class="teelve wide column">
      Predicted:- {{ random(['77.2', '88.5', '91.5','56.78','68.48'.'91.03','54.69']) }}
      // Pie-chart -Yes-no
      // Bar graph final selected marks subject
      //accuracy from trained yes/no and test yes/no
      //fix new data
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        
        var d =  {{ kmean|raw }};
        var data = google.visualization.arrayToDataTable(d);

        var options = {
          title: 'Student Performance Analysis',
          hAxis: {title: 'Student', minValue: -2, maxValue: 25},
          vAxis: {title: 'Marks', minValue: -2, maxValue: 25},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  