<?php defined('BASEPATH') OR exit('No direct script access allowed.');
// use Phpml\Metric\Accuracy;
use Phpml\Classification\NaiveBayes;

class Home_controller extends Base_Authenticated_Controller {

    public function __construct() {

        parent::__construct();

        $this->_set_nav('home');
    }
    private function readCSV($csvFile) {
        $file_handle = fopen($csvFile, 'r');
        while (!feof($file_handle)) {
            $line_of_text[] = fgetcsv($file_handle, 2048);
        }
        fclose($file_handle);

        return $line_of_text;
    }
    private function readCSV2($data) {
        

        $array_csv = array();
          $lines = explode("\n", $data);
          foreach ($lines as $line) {
            $array_csv[] = str_getcsv($line);
          }
          return $array_csv;
        
    }
    public function start($data,$test) {
        $a = []; //data
        $b = []; //labels

        // $csvFile = 'D:/ai/test.csv';
        $csv     = $this->readCSV2($data);
        $test     = $this->readCSV2($test);
        $i       = 0; $z=1;
        for ($k = 0; $k < count($csv); $k++) {
            $c = $csv[$k];
            //pre marks
            $a[$i][] = (int) $c['1'];
            $a[$i][] = (int) $c['2'];
            //atendance
            $a[$i][] = (int) $c['3'];
            $a[$i][] = (int) $c['4'];
            $a[$i][] = (int) $c['5'];
            $a[$i][] = (int) $c['6'];
            $a[$i][] = (int) $c['7'];
            $a[$i][] = (int) $c['8'];
            //internal marks
            $a[$i][] = (int) $c['9'];
            $a[$i][] = (int) $c['10'];
            $a[$i][] = (int) $c['11'];
            $a[$i][] = (int) $c['12'];
            $a[$i][] = (int) $c['13'];
            $a[$i][] = (int) $c['14'];

            $b[$i] = $c['15'];

            $i++; $z++;
            # code...
        }
        $j = 0;
        for ($k = 0; $k < count($test); $k++) {
            $c = $test[$k];
            //pre marks
            $d[$j][] = (int) $c['1'];
            $d[$j][] = (int) $c['2'];
            //atendance
            $d[$j][] = (int) $c['3'];
            $d[$j][] = (int) $c['4'];
            $d[$j][] = (int) $c['5'];
            $d[$j][] = (int) $c['6'];
            $d[$j][] = (int) $c['7'];
            $d[$j][] = (int) $c['8'];
            //internal marks
            $d[$j][] = (int) $c['9'];
            $d[$j][] = (int) $c['10'];
            $d[$j][] = (int) $c['11'];
            $d[$j][] = (int) $c['12'];
            $d[$j][] = (int) $c['13'];
            $d[$j][] = (int) $c['14'];

            //$b[$i] = $c['15'];

            $j++;
            # code...
        }

        $classifier = new NaiveBayes();
        $classifier->train($a, $b);

        //$d = $classifier->predict([75, 78, 100, 100, 100, 100, 90, 95, 20, 60, 20, 19, 20, 19]); //subiran
        //$d = $classifier->predict([80, 76, 50, 43, 60, 70, 10, 60, 8, 40, 10, 8, 8, 8]); //bipin
        $e = $classifier->predict($d); //bipin
        $t=[];
        // var_dump($test,$test[0][0],$test[1][0]);
        // for ($i=0; $i < count($test); $i++) { 
        // 	$t[$test[$i][0]] = $e[$i];
        // 	$i++;
        // }
        $w = 0;

        foreach ($e as $b) {
        	$t[$test[$w][0]] = $b;
        	// var_dump($b);
        	$w++;
        }
        // var_dump($t);
        
        return $t;
    }

    public function index() {
        $this->load->model('entity');

        $login_rules = array(
            array(
                'field' => 'test',
                'label' => 'Data',
                'rules' => 'nohtml|trim|required',
            ),
        );

        $this->form_validation->set_rules($login_rules);

        if ($this->form_validation->run()) {

            $data = $this->input->post('data');
            $test = $this->input->post('test');
            $trained = $this->start($data,$test);


        } elseif (validation_errors()) {

            $this->template->set('error_message', '<ul>' . validation_errors('<li>', '</li>') . '</ul>');
            $this->template->set('validation_errors', validation_errors_array());
        }

        $title = 'Student Performanance Analysis';
        //$trained = $this->start();
        $this->registry->set('title', $title);
        $this->_set_header_icon('dashboard');

        $entities = $this->entity->where('is_result',0)->get_all();
        $results = $this->entity->where('is_result',1)->get_all();
        // var_dump($entities);

        $this->template
            ->prepend_title($title)
            ->set(compact('trained','entities','results'))
            ->set_partial('scripts', 'home_scripts')
            ->build('home');
    }

}
