
{% macro display_item_class(item, full_class_attribute) %}{% spaceless %}

    {% set full_class_attribute = full_class_attribute|default(true) %}

    {% set result = '' %}
    {% if item['is_header'] %}{% set result = result ~ 'header' %}{% endif %}
    {% if item['children'] %}{% set result = result ~ ' treeview' %}{% endif %}

    {% if item['is_active'] %}

        {% set result = result ~ ' active' %}

        {% if registry('nav') == item['id'] %}
            {% set result = result ~ ' active-item' %}
        {% endif %}

    {% endif %}

    {% if full_class_attribute and result is not empty %}
        {% set result = ' class="' ~ result ~ '"' %}
    {% endif %}

    {{ result|raw }}

{% endspaceless %}{% endmacro %}

{% macro display_item(item) %}{% spaceless %}

    {% if item['is_header'] %}
        {{ item['label'] }}
    {% else %}
        {% if item['icon'] is not empty %}<i class="{{ item['icon']|e('html_attr') }}"></i>{% endif %}
        <span>{{ item['label'] }}</span>
        {% if item['badge'] is not empty %}{{ item['badge']|raw }}{% endif %}
    {% endif %}

{% endspaceless %}{% endmacro %}

{% macro display_children(items, level = 0) %}

    {% import _self as side_menu_macro %}
    {% set level = level|default(0) %}

                            <div class="accordion menu">

    {% for item in items %}

        {% if item['children'] is empty %}

            {% if item['is_header'] %}
                            <div class="item">
                                <span class="title">{{ side_menu_macro.display_item(item) }}</span>
                            </div>
            {% else %}
                            <div class="item">
                                <a href="{{ item['link'] }}" class="{% if item['is_active'] %}active {% endif %}title">
                                    {{ side_menu_macro.display_item(item) }}
                                </a>
                            </div>
            {% endif %}
                            
        {% else %}

                            <div class="item">

                                <span class="{% if item['is_active'] %}active {% endif %}title">
                                    <i class="dropdown icon"></i>
                                    {{ side_menu_macro.display_item(item) }}
                                </span>

                                <div class="{% if item['is_active'] %}active {% endif %}content">
                                    {{ side_menu_macro.display_children(item['children'], level + 1) }}
                                </div>

                            </div>

        {% endif %}

    {% endfor %}

                            </div>

{% endmacro %}

{# -------------------------------------------------------------------------- #}

{% import _self as side_menu_macro %}

            <nav id="sidebar" class="transition {% if session('side_menu_state') == 'hidden' %}hidden{% else %}hidden{% endif %}">

                <div class="ui vertical inverted attached borderless accordion menu" id="sidebar_menu">

{% if nav is not empty %}
    {% for item in nav %}

        {% if item['children'] is empty %}

            {% if item['is_header'] %}
                            <div class="item">
                                <span class="title">{{ side_menu_macro.display_item(item) }}</span>
                            </div>
            {% else %}
                            <div class="item">
                                <a href="{{ item['link'] }}" class="{% if item['is_active'] %}active {% endif %}title">
                                    {{ side_menu_macro.display_item(item) }}
                                </a>
                            </div>
            {% endif %}
                            
        {% else %}

                            <div class="item">

                                <span class="{% if item['is_active'] %}active {% endif %}title">
                                    <i class="dropdown icon"></i>
                                    {{ side_menu_macro.display_item(item) }}
                                </span>

                                <div class="{% if item['is_active'] %}active {% endif %}content">
                                    {{ side_menu_macro.display_children(item['children']) }}
                                </div>

                            </div>

        {% endif %}

    {% endfor %}
{% endif %}

                </div>

            </nav>
