
        <nav id="main_navigation">

            <div class="ui blue inverted attached menu">

                <a class="icon item" id="sidebar_toggle">
                    <i class="sidebar icon"></i>
                </a>

                <a href="{{ site_url() }}" class="brand item">
                    <strong>{{ setting('site_name') is not empty ? setting('site_name') : lang('admin_panel') }}</strong>
                </a>

               

                <div class="right menu">

                    {{ widget('theme_switcher_widget/index', 'navbar') }}
                    {{ widget('account_widget') }}

                </div>

            </div>

        </nav>
